<mat-progress-bar mode="query" *ngIf="downloadData"></mat-progress-bar>
<div class="container-fluid" [hidden]="downloadData">
  <mat-accordion class="ticket-inspector-table-headers-align" [hidden]="downloadData">
    <mat-expansion-panel  class="ticket-inspector-expansion-panel" (opened)="isTicketInspectorsTableOpened = true"
                         (closed)="isTicketInspectorsTableOpened = false">
      <mat-expansion-panel-header collapsedHeight="50px" class="ticket-inspector-expansion-panel-header">
        <mat-panel-title>
          Ticket inspectors
        </mat-panel-title>
        <mat-panel-description *ngIf="theNearestTicketInspection != undefined">
            <span>{{theNearestTicketInspection.busStopResource.busStopName}} {{theNearestTicketInspection.distance | distancePipe}} <img
              [style.transform]="'rotate('+ rotate(theNearestTicketInspection.marker.getLatLng()) + 'deg)'"
              src="assets/table/green_arrow.png"/></span>
          <mat-icon color="warn">map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortDirection="asc"
                 matSortActive="distance" matSortDisabled="true">

        <ng-container matColumnDef="busStopName">
          <mat-header-cell *matHeaderCellDef>Bus stop</mat-header-cell>
          <mat-cell class="description-cell"
                    *matCellDef="let layerModel">{{layerModel.busStopResource.busStopName}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="busLine">
          <mat-header-cell *matHeaderCellDef>Bus Line</mat-header-cell>
          <mat-cell class="description-cell"
                    *matCellDef="let layerModel">{{layerModel.busStopResource.busStopLine}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="distance">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Distance from you</mat-header-cell>
          <mat-cell class="description-cell"
                    *matCellDef="let layerModel">{{layerModel.distance | distancePipe}}
            <img [style.transform]="'rotate('+ rotate(layerModel.marker.getLatLng()) + 'deg)'"
                 [style.margin-left]="'5px'" src="assets/table/green_arrow.png"/>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row *matRowDef="let layerModel; columns: displayColumns"></mat-row>
      </mat-table>
      <mat-action-row>
        <mat-paginator #paginator
                       [pageSize]="10">
        </mat-paginator>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <div #map id="leaf-map"
       leaflet
       [leafletOptions]="options"
       [leafletMarkerCluster]="markerClusterData"
       [leafletMarkerClusterOptions]="markerClusterOptions"
       (leafletMapReady)="onMapReady($event)">
  </div>
</div>
<div id="overlay" *ngIf="isTicketInspectorsTableOpened"></div>
