mat-list {
  color: black;
}

#overlay {
  z-index: 2;
}

.container-fluid {
  position: relative;
  height: calc(100% - 110px);
  width: 100%;
  padding: 0;
}

#leaf-map {
  top: 50px;
  height: 100%;
  width: 100%;
  z-index:1;
}

.ticket-inspector-table-headers-align{
  position: absolute;
  width: 100%;
  z-index:4;
}

.ticket-inspector-table-headers-align .mat-expansion-panel-header-title,
.ticket-inspector-table-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.ticket-inspector-table-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

.ticket-inspector-expansion-panel{
  opacity: 0.8%;
  background-color: #343a40;
}

.ticket-inspector-expansion-panel * {
  color: white;
  background-color: #343a40 !important;
}

::ng-deep .ticket-inspector-expansion-panel-header > .mat-expansion-indicator::after {
  color: white !important;
}


::ng-deep .ticket-inspector-expansion-panel .mat-paginator-icon, mat-paginator {
  color: white;
}




