@import '~bootstrap/dist/css/bootstrap.css';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.mat-progress-spinner {
  margin:0 auto;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #FFFFFF;
}
.bus-popup .leaflet-popup-content-wrapper {
  text-align: center;
  background: rgba(0,0,0,0.7);
  color:#fff;
  line-height:24px;
}
.bus-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
}
.bus-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
}
.bus-popup .leaflet-popup-tip {
  border-left:15px solid rgba(0,0,0,0.7);
  border-right:15px solid rgba(0,0,0,0.7);
  border-top:15px solid rgba(0,0,0,0.7);
}

#overlay {
  position: fixed; /* Sit on top of the page content */ /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  background-blend-mode: color-burn;
  z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  -webkit-backdrop-filter: blur(10px);
}

#overlay .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#overlay .container h1 {
  color: #FFFFFF;
}
