<div id="popup-container">
  <h6>{{this.title}}</h6>
  <hr [color]="'#FFFFF'">
  <mat-horizontal-stepper class="bus-stop-lines" [linear]="true" #stepper>
    <mat-step>
        <div>
          <mat-spinner *ngIf="this.downloadData" [diameter]="40"></mat-spinner>
          <ng-container *ngIf="this.isError"><span>{{this.errorMessage}}</span></ng-container>
          <button class="button-bus-stop" *ngFor="let busStopLine of this.busStopLinesResource.busStopLines" (click)="goToTrackingStep(busStopLine.busLine)">
            <span>{{busStopLine.busLine}}</span>
          </button>
        </div>
      <em>{{_message}}</em>
    </mat-step>
    <mat-step>
      <div class="mat-action-container">
        <button mat-fab [ngClass]="buttonClass" (click)="clickTrackButton()">{{buttonText}}</button>
      </div>
      <div>
        <button mat-button (click)="goStepperBack()">Back</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>


