#popup-container {
  width: 300px;
  max-height: 300px;
  display: inline-block;
}

.bus-stop-lines {
  width: 100%;
  color: #FFF;
  text-align: center;
  background-color: transparent;
}

::ng-deep .bus-stop-lines .mat-horizontal-stepper-header {
  display: none;
}

.button-bus-stop {
  width: 35px;
  height: 35px;
  border: 2px solid #FFF;
  margin: 5px;
  display: inline-block;
  background-color: transparent;
}

.button-bus-stop:hover {
  width: 35px;
  height: 35px;
  border: 2px solid #FFF;
  margin: 5px;
  background-color: #4b4b4b;
  opacity: 0.8;
  display: inline-block
}

button:focus {
  outline: none;
}

.button-bus-stop span {
  color:#FFFFFF;
}

.mat-action-container {
  margin-bottom: 10px;
  margin-top: 10px;
}

.button-track {
  background-color: #00d601;
  color: white;
}

.button-track-stop {
  background-color: red;
  color: white;
}

.button-track-stop::after {
  position: absolute;
  content: "";
  border: 5px solid;
  border-radius: 50%;
  border-color: red transparent green;
  animation: spin 2s linear infinite;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  margin: auto;

}

@keyframes spin {
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg)
  }
}

