<div id="overlay">
  <div class="container">
    <form #loginForm id="loginForm" [formGroup]="_formGroup" (submit)="login()">
      <span class="login-form-title">SIGN IN</span>
      <div class="mb-2">
        <mat-form-field appearance="legacy">
          <mat-icon class="mx-1" matPrefix>perm_identity</mat-icon>
          <mat-label>Username</mat-label>
          <input type="text" matInput required autocomplete="off" spellcheck="false" formControlName="userNameControl">
          <mat-error *ngIf="!_formGroup.valid">{{checkUsername()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="mb-2">
        <mat-form-field appearance="legacy">
          <mat-icon class="mx-1" matPrefix>lock</mat-icon>
          <mat-label>Password</mat-label>
          <input type="password" matInput required formControlName="passwordControl">
          <mat-error *ngIf="!_formGroup.valid">{{checkPassword()}}</mat-error>
        </mat-form-field>
      </div>
      <button form="loginForm" [disabled]="!_formGroup.valid" mat-raised-button>SIGN IN</button>
      <mat-error class="pb-2 fixed-bottom" style="font-size: 75%" role="alert">{{loginErrorMessage}}</mat-error>
      <!--     <div class="mx-auto pt-4 pb-3">
             <span class="login-form-alternative">Or login with</span>
           </div>-->
    </form>
  </div>
</div>
