#overlay {
  z-index: 99999;
}

.container {
  border-radius: 10px;
  background-color: #343a40;
  opacity: 0.9;
  padding: 40px 55px;
  width: auto;
}

.login-form-title {
  display: block;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 24px;
  color: #fff;
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #737373;
  margin-bottom: 15px;
}

mat-form-field {
  color : #fff;
}

.login-form-alternative {
  color : white;
}
