<app-system-message [alertService]="alertService"></app-system-message>
<header class="navbar navbar-dark sticky-top navbar-expand-lg bg-dark">

  <a class="navbar-brand" [routerLink]="['/']" (click)="navbarCollapsed = true">{{title}}</a>

  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
          [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/busStops']" (click)="navbarCollapsed = true">Bus stops</a>
      </li>
    </ul>
  </div>
</header>
<div id="overlay" *ngIf="isLocationError">
  <div class="container">
    <img class="img-fluid" src="../assets/tweety.png"/>
    <h1>Geolocation is disabled. Share your location now to join our community :)!</h1>
  </div>
</div>
<router-outlet>
</router-outlet>
