<b>Bus stop: {{layerModel.busStopResource.busStopName}} {{layerModel.busStopResource.busStopLine}}</b><br />
<b>Event create time: {{layerModel.createDate | date:'dd.MM.yyyy HH:mm:ss'}}</b><br />
<b>Last update time: {{layerModel.updateDate | date:'dd.MM.yyyy HH:mm:ss'}}</b><br />
<b>Distance from you: {{layerModel.distance | distancePipe}}</b>
